.UserTable{
    width: 60%;
    background-color: rgb(128, 231, 226);
    margin: 50px auto;
    border-radius: 7px;
    padding: 50px;
    box-shadow: 2px 2px 7px black;
    border: 1px solid #fff;
    animation: userAnimation 1.5s ease;
}

@keyframes userAnimation {
    0%{
        transform: translateY(-400px);
    }
    50%{
        scale: 1.1;
    }
}

.UserTable table{
    width: 100%;
    margin-top: 30px;
}

.UserTable thead tr th{
    background-color: rgb(100, 237, 152);
    color: black;
    text-align: center;
}

.UserTable tbody tr td{
    background-color: rgb(88, 99, 128);
    color: white;
    text-align: center;
}

.UserTable .actionButtons button{
    margin: 0 10px;
}

.table-bordered{
    border: 2px solid black;
}