.addUser{
    background-color: white;
    transform: translateY(100px);
    width:320px;
    margin-left: 512px;
    padding: 65px;
    border-radius: 15px;
    box-shadow: 0 0 0 3px black, 0 0 15px rgb(90, 34, 136);
    transition: 0.2s ease-in;
    animation: addUserAnimate 1s ease;
}

.addUser h3{
    text-align: center;
}

@keyframes addUserAnimate{
    0%{
        transform: translateY(-200px);
    }
}

.addUser:hover{
    background-color: cornflowerblue;
    box-shadow: 0 0 0 3px white;
    scale: 1.1;
    transition: 0.2s ease;
}

.addUser .addNewUser{
    text-align: center;
    color: black;
}

.addUser .inputGroup{
  display: flex;
  flex-direction: column;
}

.addUser .inputGroup input{
    border: 2px solid;
    border-radius: 5px;
}

.addUser .btn-primary{
    width: 100%;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    background-color: black;
    transition: 0.2s ease;
}
.addUser .btn-primary:hover{
    background-color: white;
    color: black;
    font-weight: 400;
    scale: 0.98;
}

.addUser .btn-secondary{
    font-size: 13px;
    margin-top: -60px;
    background-color: black;
}